* {
  margin: auto;
}
h2 {
  text-align: center;
}
.container {
  border: 2px solid black;
  width: 40%;
  height: max-content;
  background-color: rgb(231, 230, 226);
  padding: 10px;
}

input[type="text"] {
  width: 100%;
}
input[type="email"] {
  width: 100%;
}

.required:after {
  content: " *";
  color: red;
}

.reset {
  margin-right: 10px;
}

.submit {
  float: right;
  background-color: black;
  color: white;
  cursor: pointer;
}

table {
  border: 2px solid black;
  width: 80%;
  padding: 10px;
}

th {
  background-color: rgb(184, 236, 231);
  color: black;
  text-align: left;
}
